.miniHub {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid: 100% / 1fr 100px;
    grid-gap: 5px;
    padding: 0 5px;
}
.miniHub_mobile {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid: 1fr auto / 100%;
    grid-gap: 5px;
    padding: 5px 0;
    background: hsla(0, 100%, 100%, .3);
    border-radius: 5px;
}
