.title {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    .text {
        flex: 1 1 auto;
        z-index: 50;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 2px 2px 2px dodgerblue;
    }
}
