// Rests
@import './rests/customRests';

// Globals
@import './globals/mixins';
@import './globals/placeholders';
@import './globals/vars';

// Mixins
@import './mixins/flex';

// Libreries

.home {
    @include flex(
        $display: flex,
        $flex-flow: column nowrap,
        $justify-content: space-between,
        $align-items: stretch
    );
    width: 100%;
    height: 100%;
}
